body {
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: black;
    }
}

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype');
}

body {
    font-family: 'Minecraft', sans-serif;
    color: white;
}

header {
    background-color: #004d00;
    border: 5px solid #006400;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.addon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.addon {
    background-color: black;
    border: 5px solid #808080;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addon:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #333333;
    border: 5px solid #808080;
    border-radius: 10px;
}

.addon img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.addon h2 {
    font-size: 1.5em;
    margin-top: 0;
    color: #FFFFFF;
}

.addon p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #FFFFFF;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: black;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #808080;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-menu {
    position: relative;
    display: inline-block;
    
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #333333;
    border: 5px solid #808080;
    border-radius: 10px;
}

.show {
    display: block;
}

.dropdown-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 8px;
}

.dropdown-item .icon {
    width: 30px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
    height: 30px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
    margin-right: 8px; /* Jarak antara gambar dan teks */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
